<!--
  note: use this include "macro" to split/break content into slides
   for now use heading 1/2 (h1,h2) for breaks
    skip "plain" h1/h2 e.g. <h1>/<h2>
    only break on <h1 id=      or
                  <h1 class=
 -->
<section>
  <h1>{{ include.title }}</h1>
  <h2>{{ include.subtitle }}</h2>
  <p>
     {{ include.author }}
     <br>
     {{ include.date | date: "%A, %B %d, %Y" }}
   </p>
 </section>


{% assign slides = include.content
     | replace: '<h1 id=', '<!-- @SLIDE --><h1 id='
     | replace: '<h1 class=', '<!-- @SLIDE --><h1 class='
     | replace: '<h2 id=', '<!-- @SLIDE --><h2 id='
     | replace: '<h2 class=', '<!-- @SLIDE --><h2 class='
     | replace_first: '<!-- @SLIDE -->', ''
     | split: '<!-- @SLIDE -->' %}


{% for slide in slides %}
<section>
  {{ slide }}
</section>
{% endfor %}
