<!--
 for now use heading 1 (h1) for breaks
    skip "plain" h1 e.g. <h1>
    only break on <h1 id=      or
                  <h1 class=
-->

<section>
   <h1>
     {{ include.title }}
     <br>
     <!-- todo: add subtitle here ?? -->
   </h1>
    <p>
     {{ include.author }}
     <br>
     {{ include.date | date: "%A, %B %d, %Y" }}
   </p>
 </section>


{% assign slides = include.content
     | replace: '<h1 id=', '<!-- @SLIDE --><h1 id='
     | replace: '<h1 class=', '<!-- @SLIDE --><h1 class='
     | replace_first: '<!-- @SLIDE -->', ''
     | split: '<!-- @SLIDE -->'
 %}


{% for slide in slides %}
<section>
  {{ slide }}
</section>
{% endfor %}
