---
# add front matter here
---

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>

<!--
   Notes on CSS media types used:

   1) projection     -> slideshow mode (display one slide at-a-time; hide all others)
   2) outline/screen -> outline mode (display all slides-at-once on screen)
   3) print          -> print (and print preview)

   Note: toggle between projection/screen (that is, slideshow/outline) mode using t-key

   Questions, comments?
   - send them along to the mailinglist/forum online @ http://groups.google.com/group/wwwmake
-->

<!-- style sheet links -
      note: add workaround for chrome
        use screen,projection instead of projection
        (without projection inline style tag gets not parsed into a styleSheet accesible via JavaScript)
-->

<link rel="stylesheet" href="{{ 'css/themes/blank.css' | relative_url }}"  media="screen,projection">
<link rel="stylesheet" href="{{ 'css/screen.css'       | relative_url }}"  media="screen">
<link rel="stylesheet" href="{{ 'css/print.css'        | relative_url }}"  media="print">

<link rel="stylesheet" href="{{ 'css/blank.css'        | relative_url }}"  media="screen,projection">


<!-- add js libs (less, jquery) -->
<script src="{{ 'js/jquery-2.1.1.min.js' | relative_url }}"></script>

<!-- S6 JS -->
<script src="{{ 'js/jquery.slideshow.js'          | relative_url }}"></script>
<script src="{{ 'js/jquery.slideshow.counter.js'  | relative_url }}"></script>
<script src="{{ 'js/jquery.slideshow.controls.js' | relative_url }}"></script>
<script src="{{ 'js/jquery.slideshow.footer.js'   | relative_url }}"></script>
<script src="{{ 'js/jquery.slideshow.autoplay.js' | relative_url }}"></script>
<script>
  $(document).ready( function() {
    Slideshow.init();

    // Example 2: Start Off in Outline Mode
    // Slideshow.init( { mode: 'outline' } );

    // Example 3: Use Custom Transition
    // Slideshow.transition = transitionScrollUp;
    // Slideshow.init();

    // Example 4: Start Off in Autoplay Mode with Custom Transition
    // Slideshow.transition = transitionScrollUp;
    // Slideshow.init( { mode: 'autoplay' } );
  } );
</script>


</head>
<body>


<div class="layout">
  <div id="header"></div>
  <div id="footer">
    <h1>{{ page.author }}</h1>
    <h2>{{ page.date }}</h2>
  </div>
</div>


<div class="presentation">
  {{ content }}
</div> <!-- presentation -->

</body>
</html>
